%h1 Step 1 &mdash; General Info
%p First, we'll need some basic information.
%form{:action => "/setup/step_1"}
  %fieldset
    %div
      = label_tag 'setup[website_name]', "Website Name"
      = text_field_tag 'setup[website_name]', @setup['website']['name']
    %div
      = label_tag 'setup[website_domain]', "Domain" 
      = text_field_tag 'setup[website_domain]', @setup['website']['domain']
      %span{:class => "small gray"}== Format: "domain.com". <strong>Do not include "http://www."</strong>.
    Website Template:
    %ul.templates 
      - templates = ["t1c1", "t1c2", "t1c3", "t1c4", "t1c5", "t3c2", "t3c3", "t3c4", "t3c5", "t3c6", "t3c7", "t4c1", "t4c2", "t4c4", "t5c2", "t5c3", "t5c4", "t5c5", "t5c6"]
      - for template in templates
        %li
          = label_tag "setup[website_template_#{template}]", "#{template} #{image_tag("templates/thumbs/#{template}.jpg")}"
          = radio_button_tag 'setup[website_template]', template
      =  #select(:template, :id, templates.map{|template| [template, template] })
    %br
    = submit_tag "Step 2", :class => "next"